<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Web Tests" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="com.unifydots.listeners.TestExecutionListener"/>
    </listeners>
    <test name="Unify Dots Tests Chrome" preserve-order="false">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="headless" value="false"></parameter>
        <classes>
            <class name="com.unifydots.tests.LoginLogoutTest">
                <methods>
                    <include name="loginSuccessTest"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Unify Dots Tests Edge" preserve-order="false">
        <parameter name="browser" value="edge"></parameter>
        <parameter name="headless" value="false"></parameter>
        <classes>
            <class name="com.unifydots.tests.LoginLogoutTest">
                <methods>
                    <include name="loginSuccessTest"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Unify Dots Tests Firefox" preserve-order="false">
        <parameter name="browser" value="firefox"></parameter>
        <parameter name="headless" value="false"></parameter>
        <classes>
            <class name="com.unifydots.tests.LoginLogoutTest">
                <methods>
                    <include name="loginSuccessTest"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>