<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Component Tests">

    <test name="Unify Dots Tests" preserve-order="false">

        <classes>
            <class name="com.unifydots.tests.FirstTest"></class>
        </classes>
    </test>
</suite>